html{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
.input-container{
    text-align: center;
    
}
input{
    margin-top: 20px;
    padding: 10px;
}
button{
    margin-top: 10px;
    padding: 10px;
}
#output{
 margin: 40px;
 width: auto;
}


.div{
    border: 0;
    margin-top: 5px;
    background-color:lightgray;
    padding: 10px;
    border-radius: 3px;

}
.star{
    float: right;
    color:gold;
}